<!doctype html>
<html>
<head>
  <meta charset ="utf-8">
  <title>My Account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='{{url_for("static",filename="css/bootstrap.min.css")}}' rel="stylesheet">
  <link href="{{url_for('static',filename='css/bootstrap-responsive.css')}}" rel="stylesheet">
  <link href='{{url_for("static",filename="img6.jpg")}}' rel="shortcut icon">
  <script src='{{url_for("static",filename="js/chart.min.js")}}'></script>
  <script type="text/javascript">
         <!--
            function getConfirmation(){
               var retVal = confirm("Do you want to continue ?");
               if( retVal == true ){
                  return true;
               }
               else{
                  return false;
               }
            }
         //-->
      </script>
</head>
<body style="background: #F5F5F5;">
	<header>
    <nav>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
              <img src="{{url_for('static',filename='img6.jpg')}}"> Online IDE</a>
              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  <li class="divider-vertical"></li>
                  <li class="active"><a href="/users/{{username}}/">Dashboard</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="/users/{{username}}/onlineide">New Code</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="/logout">LOGOUT</a></li>
                  <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
      </div>
    </nav>
  </header>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
      <ul>
         {% for message in messages %}
          <div class="alert" role="alert">
          	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          	<strong>{{message}}</strong>
          </div>
         {% endfor %}
      </ul>
   {% endif %}
  {% endwith %}
  <br>
  <div class="row-fluid">
    <div class="span6 offset3" style="background-color: white;box-shadow: 5px 0px 5px #888;">
      <div class="row-fluid">
        <div class="span4">
          <u><h4 style="padding-left: 10px">Personal Info</h4></u>
        </div>
        <div class="span1 offset7" style="padding-top: 5px">
          <a href="/users/{{username}}/edit/"><i class="icon-pencil" title="Edit Details"></i></a>
        </div>
      </div>
      <dl class="dl-horizontal" >
        <dt style="padding-bottom: 5px;">Name:</dt><dd style="padding-bottom: 5px;">{{name}}</dd>
      	<dt style="padding-bottom: 5px;">Username:</dt><dd style="padding-bottom: 5px;">{{username}}</dd>
      	<dt style="padding-bottom: 5px;">Email:</dt><dd style="padding-bottom: 5px;">{{email}}</dd>
        <dt style="padding-bottom: 5px;">Age:</dt><dd style="padding-bottom: 5px;">{{age}}</dd>
        <dt style="padding-bottom: 5px;">Country:</dt><dd style="padding-bottom: 5px;">{{country}}</dd>
      	<dt style="padding-bottom: 5px;">API Key:</dt><dd style="padding-bottom: 5px;">{{key}}</dd>
      </dl>
    </div>
    <div class="span3">
      <img src="{{url_for('static',filename='img2.jpg')}}">
    </div>
  </div>
  <br>
  <br>
    <div class="row-fluid">
    <div class="span6 offset3" style="background-color: white;box-shadow: 5px 0px 5px #888;">
      <u><h4 style="padding-left: 10px">Submitted Codes</h4></u>
	<table class="table table-hover">
		<thead>
			<tr>
				{% for column in header %}
					<th>
						{{column}}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
				<tr>
					<td>
						{{row[0]}}
					</td>
					<td>
						{{row[1]}}
					</td>
					<td>
						{{row[2]}}
					</td>
					<td>
						{{row[3]}}
					</td>
					<td>
						<a href="/users/{{username}}/{{row[1]}}"><i class="icon-pencil" title="Edit"></i></a>
						<a href="/users/{{username}}/{{row[1]}}/delete"><i class="icon-trash" title="Delete" onclick="getConfirmation();"></i></a>
            <a href="/users/{{username}}/{{row[1]}}/download" download='{{row[1]}}.txt' title="Download"><i class="icon-download-alt" ></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	</div>
  <br>
  <br>
  <div class="row-fluid">
    <div class="span6 offset3" style="background-color: white;box-shadow: 5px 0px 5px #888;">
      <u><h4 style="padding-left: 10px">Language Activity</h4></u>
  <canvas id="chart" width="600" height="400"></canvas>
  <script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "blue",
            strokeColor: "white",
            pointColor: "black",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
 
</script>
</div>
</div>
<br>
<br>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
